.main__contactUs {
}
.contactUs {
    padding: 150px 0;

    &-inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px 50px;
    }
    &__info {
    }
    .heading.contactUs__heading {
        max-width: 600px;
        margin-bottom: 30px;
    }

    &__officeHours {
    }
    &__hours-title {
        position: relative;
        color: var(--black);
        font-size: 1.875em;
        font-weight: 600;
        line-height: 110%;

        margin-bottom: 49px;
    }

    &__hours-title::after {
        position: absolute;
        content: "";
        width: 320px;
        height: 1px;
        background: #d3d3d3;
        bottom: -24px;
        left: 0;
    }

    &__hours-main {
        color: var(--grey);
        font-family: "Lato", sans-serif;
        font-size: 1.25em;
        font-weight: 500;
        line-height: 145%;

        span {
            color: var(--black);
        }

        margin-bottom: 23px;
    }

    &__hours-main:last-child {
        margin-bottom: 0;
    }

    &__form {
        max-width: 600px;
    }
    &__form-title {
        color: var(--black);
        font-size: 2.5em;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 16px;
    }

    &__form-info {
        color: red;
        font-size: 0.875em;
        font-weight: 500;
        line-height: 110%;
        margin: 13px 0;

        display: none;
    }

    &__form-subtitle {
        color: var(--blue);
        font-size: 1.25em;
        font-weight: 500;
        line-height: 110%;

        margin-bottom: 47px;
    }
    &__form-input {
        display: inline-block;
        width: 600px;
        height: 65px;
        border: 1px solid #d3d3d3;

        color: #6a6a6a;
        font-family: "Lato";
        font-size: 1.25em;
        font-weight: 400;
        padding: 0 30px;

        margin-bottom: 15px;
    }

    &__form-input,
    &__form-textarea {
        transition: border 0.3s ease;
    }

    &__form-input:focus,
    &__form-textarea:focus {
        border: 1px solid #33333367;
    }

    &__form-textarea {
        width: 600px;
        height: 150px;
        border: 1px solid #d3d3d3;
        padding: 20px 30px;

        color: #6a6a6a;
        font-family: "Lato";
        font-size: 1.25em;
        font-weight: 400;

        margin-bottom: 35px;
    }

    &__form-button {
        display: inline-block;
        padding: 19px 54px 20px 54px;
        background: var(--black);

        color: #fff;
        text-align: center;
        font-family: "Lato";
        font-size: 1.25em;
        font-weight: 600;

        transition: background-color 0.3s ease;

        &:hover {
            background-color: #1b2129df;
        }
    }
}

// contacts
.contacts {
    height: 920px;
    background: url("../img/ContactUs/1.jpg") no-repeat center 0 / cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts-inner {
    max-width: 1290px;
    height: 400px;
    padding: 40px 99px;
    background: var(--green);

    display: flex;
    justify-content: space-around;
    gap: 0 200px;
}
.contacts__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .contacts__card:nth-child(2) {
//     background-color: #693434;
// }

.contacts__card-icon {
    margin-bottom: 20px;
}
.contacts__card-title {
    position: relative;
    color: var(--black);
    text-align: center;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 110%;

    margin-bottom: 50px;
}

.contacts__card-title::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    background: #1b2129;
    left: 50%;
    bottom: -28px;
    transform: translate(-50%, 0);
}

.contacts__card-info {
    color: var(--black);
    text-align: center;
    font-family: "Lato";
    font-size: 1.25em;
    font-weight: 700;
    line-height: 157.4%;
}

// faq section

.faq {
    padding: 160px 0 120px;
}

.faq-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faq__heading.heading {
    margin-bottom: 70px;
}

.faq__heading p,
.faq__heading h2 {
    text-align: center;
}

.faq .faq__heading {
    min-width: 600px;
    // margin-bottom: 40px;
}
.faq-card {
    width: 800px;

    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 25px;

    margin-bottom: 20px;
}

.faq-card:last-child {
    margin-bottom: 0;
}

.faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__title {
    color: var(--black);
    font-family: "Lato";
    font-size: 1.375em;
    font-weight: 700;
    line-height: 145%;

    margin-bottom: 12px;
}
.faq__answer {
    color: #6a6a6a;
    font-family: "Lato";
    font-size: 1.25em;
    font-weight: 500;
    line-height: 145%;
    max-width: 650px;

    max-height: 0;
    opacity: 0;

    transition: all 0.5s ease-out;
}

.faq__answer--visible {
    max-height: 350px;
    opacity: 1;
}

.faq__question svg {
    width: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rotate {
    // transition: all .3s ease;

    transform: rotate(180deg);
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .contacts-inner {
        gap: 0 120px;
    }

    .contactUs__heading {
        .heading__description {
            font-size: 1em;
            max-width: 400px;
        }
    }

    .contactUs__form {
        .contactUs__form-title {
            font-size: 2.2em;
        }

        .contactUs__form-subtitle {
            margin-bottom: 20px;
            font-size: 1em;
        }

        max-width: 500px;

        .contactUs__form-input {
            height: 55px;
        }

        .contactUs__form-input,
        .contactUs__form-textarea {
            width: 500px;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .faq {
        &-inner {
            .faq-card {
                width: 640px;
            }
        }
    }

    .contacts {
        height: 700px;
    }

    .contacts-inner {
        gap: 0 80px;

        .contacts__card-title {
            font-size: 1.5em;
            margin-bottom: 30px;
        }

        .contacts__card-title::after {
            bottom: -21px;
        }

        .contacts__card-info {
            font-size: 1em;
            width: 170px;
        }
    }

    .contactUs-inner {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
        gap: 80px;
    }

    .contactUs__form {
        max-width: 700px;

        .contactUs__form-input,
        .contactUs__form-textarea {
            width: 600px;
        }
    }
}

@media only screen and (max-width: 930px) {
    .contacts-inner {
        padding: 40px 60px;
        gap: 0 50px;
        height: 300px;

        .contacts__card-info {
            width: 150px;
        }
    }
}

@media only screen and (max-width: 860px) {
    .contactUs-inner {
        padding-left: 20px;
        gap: 40px;
    }

    .contactUs__form {
        max-width: 600px;

        .contactUs__form-input {
            height: 60px;
        }

        .contactUs__form-input,
        .contactUs__form-textarea {
            width: 95%;
            font-size: 1.125em;
        }

        .contactUs__form-title {
            font-size: 2.125em;
        }

        .contactUs__form-subtitle {
            font-size: 1em;
        }
    }
}

@media only screen and (max-width: 768px) {
    .faq {
        padding: 100px 0;

        &-inner {
            .faq-card {
                max-width: 530px;

                .faq__answer {
                    font-size: 1em;
                }
            }
        }
    }

    .contacts {
        height: 500px;
    }

    .contacts-inner {
        padding: 40px 26px;
        gap: 0 16px;

        .contacts__card-icon {
            width: 45px;
        }

        .contacts__card-title {
            font-size: 1.125em;
        }

        .contacts__card-title::after {
            height: 2px;
        }

        .contacts__card-info {
            font-size: 0.875em;
        }
    }
}

@media only screen and (max-width: 600px) and (min-width: 450px) {
    .faq {
        .faq__heading.heading {
            margin-bottom: 50px;
            h2 {
                font-size: 1.875em;
            }
        }

        &-inner {
            .faq-card {
                max-width: 400px;

                .faq__answer {
                    font-size: 1em;
                }
            }
        }
    }

    .contacts {
        height: 360px;
    }

    .contacts-inner {
        flex-direction: column;
        .contacts__card {
            justify-content: space-between;
            flex-direction: row;
            gap: 0 10px;
        }

        .contacts__card-icon {
            margin-bottom: 0;
            width: 33px;
            margin-right: 4px;
        }

        .contacts__card-title {
            margin-bottom: 0;
            margin-right: auto;
        }

        .contacts__card-title::after {
            display: none;
        }

        .contacts__card-info {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 560px) {
    .contactUs {
        padding: 100px 0;
    }

    .contactUs__heading {
        h2 {
            font-size: 2em;
        }

        .heading__description {
            font-size: 1em;
            max-width: 400px;
        }
    }

    .contactUs-inner {
        gap: 30px;
        .contactUs__hours-title {
            font-size: 1.5em;
        }

        .contactUs__hours-main {
            font-size: 1.125em;
            margin-bottom: 20px;
        }
    }

    .contactUs__form {
        .contactUs__form-title {
            font-size: 1.625em;
        }

        .contactUs__form-subtitle {
            font-size: 0.875em;
            margin-bottom: 30px;
        }

        .contactUs__form-input {
            height: 55px;
            margin-bottom: 20px;
        }

        .contactUs__form-input,
        .contactUs__form-textarea {
            font-size: 1em;
        }

        .contactUs__form-textarea {
            margin-bottom: 25px;
        }

        .contactUs__form-button {
            padding: 14px 35px 16px 35px;
            font-size: 1em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .faq {
        .faq__heading.heading {
            margin-bottom: 50px;
            h2 {
                font-size: 1.425em;
            }
        }

        &-inner {
            .faq-card {
                padding-bottom: 15px;
                max-width: 340px;

                .faq__answer {
                    font-size: 0.875em;
                }

                .faq__title {
                    font-size: 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .contacts {
        height: 800px;
    }

    .contacts-inner {
        height: 600px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 430px) {
    .faq {
        padding: 70px;
        .faq__heading.heading {
            h2 {
                font-size: 1.125em;
            }
        }

        &-inner {
            .faq-card {
                max-width: 260px;

                .faq__answer {
                    font-size: 0.75em;
                }

                .faq__title {
                    font-size: 1em;
                }
            }
        }
    }

    .contactUs__heading {
        h2 {
            font-size: 1.625em;
        }

        .heading__description {
            font-size: 0.875em;
        }
    }

    .contactUs-inner {
        padding-left: 0;
        .contactUs__hours-title {
            font-size: 1.25em;
        }
    }

    .contactUs__form {
        .contactUs__form-title {
            margin-bottom: 20px;
            font-size: 1.125em;
        }

        .contactUs__form-subtitle {
            display: none;
        }
    }
}

@media only screen and (max-width: 380px) {
    .contactUs {
        padding: 70px 0;
    }

    .contactUs__heading {
        margin-bottom: 45px;
        h2 {
            font-size: 1.3em;
        }

        .heading__description {
            font-size: 0.875em;
        }
    }

    .contactUs-inner {
        padding-left: 0;
        .contactUs__hours-title {
            font-size: 1.25em;
        }
    }

    .contactUs__form {
        .contactUs__form-input {
            height: 47px;
            padding: 0 14px;
        }

        .contactUs__form-input,
        .contactUs__form-textarea {
            padding: 14px;
        }
    }
}
